* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

body {
    background-image: url(../img/poker-table-background-green-color_47243-1094.jpg);
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    text-align: center;
}

.container i {
    color: brown;
    margin: 0 15px;
    font-size: 40px;
}

.subtitle {
    margin: 30px 0;
}

button {
    padding: 20px;
    border: 2px solid transparent;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(0, 65, 12);
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
}

button:active {
    transform: translateY(1px);
}

button:hover {
    border: 2px solid brown;
}

.scores {
    display: flex;
    justify-content: center;
    gap: 300px;
    margin: 40px 0;
}

.score {
    font-size: 40px;
    margin-top: 15px;
}

.winner {
    font-size: 60px;
    margin-top: 70px;
}
